$colorContainer: blue;
$postColor: lightblue;
$larghezza: 150px;
$altezza: 230px;
$headerColor: red;

@mixin container {
  margin-top: 80px;
  height: calc(100vh - 80px);
  padding: 0px;
  background-color: $colorContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@mixin post {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: $postColor;
  width: $larghezza;
  height: $altezza;
  overflow: hidden;
  margin: 7.5px 15px;
  position: relative;
  img{
    min-height: 150px;
    z-index: 1;
    width: 100%;
    transition: 1s;
    &:hover{
      opacity: 0;
    }
    &:nth-child(2){
      position: absolute;
      top:0;
      z-index: 0;
      transition: 1;
    }
  }

  h3{
    width: 100%;
  }
  p{
    width: 100%;
  }

}
